h1 {
    color: rgb(119, 119, 133);
    font-family: 'Mooli', sans-serif;
}

.container {
    text-align: center;
}
body {
    background: linear-gradient(217deg, rgba(12, 142, 255, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 242, 242, 0.801), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(22, 203, 216, 0.89), rgba(0, 0, 255, 0) 70.71%);
    background-repeat: no-repeat;
    text-align: center;
}

html{
    height: 100%;
}